name: Run Sentinel-2 Script

on:
  schedule:
    - cron: '0 2 * * *'  # каждый день в 05:00 по Москве (UTC+3)
  workflow_dispatch:      
  push:
    branches: [ main ]    

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name:  Checkout репозитория
        uses: actions/checkout@v3

      - name:  Установка Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name:  Установка зависимостей
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name:  Запись service-account.json
        env:
          GEE_CREDENTIALS: ${{ secrets.GEE_CREDENTIALS }}
        run: |
          echo "$GEE_CREDENTIALS" > service-account.json

      - name: ▶ Запуск скрипта
        env:
          GOOGLE_APPLICATION_CREDENTIALS: service-account.json
          GEE_CREDENTIALS: ${{ secrets.GEE_CREDENTIALS }}
        run: python main.py
