name: Generate Sentinel-2 URLs

on:
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    env:
      GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Fail if secret is missing
        run: |
          if [ -z "${{ secrets.GCP_SERVICE_ACCOUNT }}" ]; then
            echo "âŒ GCP_SERVICE_ACCOUNT secret is missing"
            exit 1
          fi

      - name: Create service-account.json
        run: |
          echo "${{ secrets.GCP_SERVICE_ACCOUNT }}" > service-account.json

      - name: Run script
        run: python main.py
        env:
          GOOGLE_APPLICATION_CREDENTIALS: service-account.json

      - name: Upload QLR files
        uses: actions/upload-artifact@v4
        with:
          name: qlr-files
          path: '*.qlr'
